@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold font-heading;
  }
  h1 {
    @apply mt-1 mb-2 text-2xl font-bold;
  }
}

/* Algolia Search */
.ais-SearchBox-input {
  padding: 20px 70px;
  border-radius: 4px;
  width: 100%;
  font-size: 1.5rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  @media only screen and (min-width: 1000) {
    font-size: 2rem;
    padding: 40px 70px;
  }
}
.ais-SearchBox-loadingIndicator,
.ais-SearchBox-reset,
.ais-SearchBox-submit {
  width: 30px;
  height: 30px;
}
.ais-SearchBox-submitIcon {
  width: 35px;
  height: 35px;
  color: #ccc;
  fill: currentColor;
  left: 30px;
}
.ais-SearchBox-resetIcon {
  width: 35px;
  height: 35px;
  left: -20%;
}
.ais-Hits-list {
  margin: 0;
  padding-bottom: 1rem;
}
.ais-Hits-item {
  width: 100%;
  margin-right: 1rem;
  padding: 0;
}

/* FORMS */
label {
  @apply block text-gray-700 text-lg font-bold mb-2;
}
input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}
